.outer-modal{
    position: absolute;
    top:4%;
    width: 100%;
    height: 96%;
    background-color: black;
    z-index: 1;
    max-width: 100%;
    left: 0px;
}

.inner-modal{
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 8%;
    width:80%;
    background-color: gray;
    z-index: 2;
    margin: 0 auto;
    border-radius: 10px;

    form{
        padding-top: 2%;
        height: 98%;
    }

    .post-title, .post-content{
        width: 90%;
        border-radius: 10px;
        text-align: center;
    }

    .post-content{
        margin-top: 2%;
        border-radius: 10px;
        height: 50vh;
    }
}