<div class='outer-modal' (click)='hideAddPost()'>

</div>
<div class='inner-modal'>

    Tell your future self a story
    <input [(ngModel)]='post.title' class='post-title' type='text'
        placeholder='Elves, wizards, trolls? What will it be...' />
    <textarea [(ngModel)]='post.content' class='post-content'></textarea><br />
    <button (click)='addPost()'>Super wow, many submit</button>

    <div *ngFor="let category of categories; let i = index">
        <input [(ngModel)]="selectedCategories[i]" type='checkbox' />{{category}}
    </div>

</div>