.main-display{
    width: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 15px;
    max-width: 100%;
}

.post-container{
    background-color: #292929;
    border-radius: 10px;
    margin-bottom: 25px;
}

