.title{
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        color: red;
    }
}
.journey-animation {
    font-size: 22px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
    animation: animate 180s linear infinite;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        color: red;
    }
  }
  
  @keyframes animate {
    0% {
        opacity: 0;
    }
    3%{
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }